{% extends 'base.html' %}

{% block content %}

<br>
<h1>Carter Masonry</h1>

<p class="long-text">Carter Masonry is a one-man company with the capabilities of 20 men, women and children. 
</p>


<p class="long-text">We would love to hear from you.  If you would 
    like to get in touch with us to discuss a potential project or 
    to engage our services, please take action and email or call 
    now<br>406-548-7977 <br><a href="mailto:someone@gmail.com">someone@gmail.com</a></p>


{% endblock content %}     