{% extends 'base.html' %}

{% block content %}

<br>

<h1>Our Work</h1>

<p>We pride ourselves on quality. Take a look and see for yourself</p>

<div class="portfolio-photo-container">
    <img class="portfolio-photos" src="/static/images/IMG_20220907_095354.jpg" alt="">
    <img class="portfolio-photos" src="/static/images/IMG_20220907_095359.jpg" alt="">
    <img class="portfolio-photos" src="/static/images/IMG_20220907_095405.jpg" alt="">
    <img class="portfolio-photos" src="/static/images/IMG_20220907_095410.jpg" alt="">
    <img class="portfolio-photos" src="/static/images/IMG_20220907_095415.jpg" alt="">
    
</div>

{% endblock content %} 